.navigation {
  display: flex;
}

.navigation__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.navigation__item {
  margin: 0;
  padding: 0;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.navigation__button {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 20px;
  border-radius: 3px;
  background: #3DDC84;
  text-decoration: none;
}