.search {
  padding: 60px 70px 0;
}

.search__form {
  position: relative;
  padding-bottom: 69px;
  border-bottom: 1px solid #424242;
}

.search__form-wrapper {
  padding-bottom: 42px;
}

.search__form-input {
  width: 100%;
  background-color: #2F2F2F;
  border-radius: 40px;
  height: 46px;
  border: 1px solid #2F2F2F;
  padding-left: 21px;
  color: #fff;
}

.search__form-input:focus {
  outline: none;
  border-color: #3DDC84;
}

.search__form-input::placeholder {
  color: #8B8B8B;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.search__form-button {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  width: 34px;
  height: 34px;
  background-image: url(../../images/button__search.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
}

@media screen and (max-width: 780px) {
  .search {
    padding: 79px 30px 0;
  }

  .search__form {
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 480px) {
  .search {
    padding-left: 14px;
    padding-right: 14px;
  }

  .search__form-input::placeholder {
    color: #8B8B8B;
    font-size: 11px;
  }

  .search__form-input {
    padding-left: 18px;
  }

  .search__form-wrapper {
    padding-bottom: 45px;
  }
}