.register {
  margin: 0 auto;
  padding: 70px 30px;
  max-width: 456px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.name-input-error {

}

.email-input-error {

}

.password-input-error {

}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
}

.form__button-wrapper_type_register {
  padding-top: 72px;
}

@media screen and (max-width: 780px) {
  .register {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 480px) {
  .register {
    padding-top: 56px;
    padding-bottom: 30px;
    align-items: center;
  }

  .form__button-wrapper_type_register {
    padding-top: 161px;
  }
}